composite/kestra/kestra-configuration-schema/action.yml
name: 'Generate and Publish Configuration Schema'
description: 'Set up Java, fetch storage and secret plugins, generate the configuration JSON Schema, and upload to GCS.'
inputs:
  kestra-version:
    description: "Kestra version to find compatible plugins for"
    required: true
  executable-path:
    description: "Path to the Kestra executable"
    required: true
  java-version:
    description: "Java version for running the executable"
    required: false
    default: '25'
  kestra-command:
    description: "Kestra CLI command to run for schema generation (e.g. 'configuration-schema' or 'plugins-schema')"
    required: false
    default: "configuration-schema"
  output-path:
    description: "Output file name for the generated schema"
    required: false
    default: "configuration-schema.json"
  gcs-destination:
    description: "GCS destination path for the schema file"
    required: true
  gcp-credentials-json:
    description: "GCP service account credentials JSON"
    required: true
outputs:
  schema-path:
    description: "Path to the generated schema file"
    value: ${{ inputs.output-path }}
runs:
  using: composite
  steps:
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: ${{ inputs.java-version }}

    - name: Fetch plugins
      id: schema-plugins
      shell: bash
      env:
        KESTRA_VERSION_RAW: ${{ inputs.kestra-version }}
        KESTRA_COMMAND: ${{ inputs.kestra-command }}
      run: |
        set -euo pipefail
        KESTRA_VERSION=$(echo "$KESTRA_VERSION_RAW" | sed -E 's/^v//; s/-rc[0-9]+$//')

        if [ "$KESTRA_VERSION" = "develop" ]; then
          KESTRA_VERSION=$(curl -sf "https://api.kestra.io/v1/versions/latest" | jq -r '.version')
          echo "Resolved develop to latest version: $KESTRA_VERSION"
        fi

        RESPONSE=$(curl -sf "https://api.kestra.io/v1/plugins/artifacts/core-compatibility/${KESTRA_VERSION}/latest") || {
          echo "::warning::Failed to fetch plugins for version $KESTRA_VERSION, continuing without plugin schemas"
          echo "plugins=" >> "$GITHUB_OUTPUT"
          exit 0
        }

        if [ "$KESTRA_COMMAND" = "plugins-schema" ]; then
          # Full OSS catalog — needed to produce a complete schema bundle for editor autocompletion.
          echo "Fetching all OSS plugins compatible with Kestra $KESTRA_VERSION"
          PLUGINS=$(echo "$RESPONSE" \
            | jq -r '.[] | select(.license == "OPENSOURCE") | "\(.groupId):\(.artifactId):\(.version)"' \
            | tr '\n' ' ')
        else
          # configuration-schema only needs storage and secret manager plugins.
          echo "Fetching storage and secret plugins compatible with Kestra $KESTRA_VERSION"
          PLUGINS=$(echo "$RESPONSE" \
            | jq -r '.[] | select(.groupId == "io.kestra.storage" or .groupId == "io.kestra.ee.secret") | "\(.groupId):\(.artifactId):\(.version)"' \
            | tr '\n' ' ')
        fi

        echo "Plugins: $PLUGINS"
        echo "plugins=$PLUGINS" >> "$GITHUB_OUTPUT"

    - name: Install plugins
      id: install-plugins
      if: steps.schema-plugins.outputs.plugins != ''
      shell: bash
      env:
        EXECUTABLE: ${{ inputs.executable-path }}
        PLUGINS_LIST: ${{ steps.schema-plugins.outputs.plugins }}
      run: |
        set -euo pipefail
        PLUGINS_DIR=$(mktemp -d)
        echo "Installing plugins to $PLUGINS_DIR"
        chmod +x "$EXECUTABLE"
        $EXECUTABLE plugins install --plugins="$PLUGINS_DIR" $PLUGINS_LIST
        echo "plugins-dir=$PLUGINS_DIR" >> "$GITHUB_OUTPUT"

    - name: Generate schema
      shell: bash
      env:
        EXECUTABLE: ${{ inputs.executable-path }}
        KESTRA_COMMAND: ${{ inputs.kestra-command }}
        PLUGINS_DIR: ${{ steps.install-plugins.outputs.plugins-dir }}
        OUTPUT_PATH: ${{ inputs.output-path }}
      run: |
        set -euo pipefail
        PLUGINS_FLAG=""
        if [ -n "${PLUGINS_DIR:-}" ]; then
          PLUGINS_FLAG="--plugins=$PLUGINS_DIR"
        fi

        "$EXECUTABLE" $KESTRA_COMMAND $PLUGINS_FLAG -o "$OUTPUT_PATH"
        echo "Schema generated at $OUTPUT_PATH"

    - name: GCP - Auth
      uses: google-github-actions/auth@v3
      with:
        credentials_json: ${{ inputs.gcp-credentials-json }}

    - name: Upload schema to GCS
      uses: google-github-actions/upload-cloud-storage@v2
      with:
        path: ${{ inputs.output-path }}
        destination: ${{ inputs.gcs-destination }}
